@model IEnumerable<AppWebEncodageEmploi.Entreprise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Denomination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomRue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroRue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbSoumis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbNonSoumis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localite.Nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Denomination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomRue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroRue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbSoumis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbNonSoumis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localite.Nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Numero }) |
            @Html.ActionLink("Details", "Details", new { id=item.Numero }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Numero })
        </td>
    </tr>
}

</table>
